.idea
*.pyc
dev_testing/
paper/ns3_experiments_ucb_25x25/a_2_b/runs/
paper/ns3_experiments_ucb_25x25/traffic_matrix_poisson/runs/
paper/ns3_experiments_ucb_25x25/UCB_Routing_Experiments_Documentation.md
paper/ns3_experiments_ucb_25x25/traffic_matrix_poisson/.matplotlib_cache/fontlist-v330.json
paper/ns3_experiments_ucb_iridium_66_6/a_2_b/runs/
paper/ns3_experiments_ucb_iridium_66_6/traffic_matrix_poisson/runs/
paper/ns3_experiments_ucb_iridium_66_6/traffic_matrix_poisson/.matplotlib_cache/
.trae/
.vscode/
ns3-sat-sim/simulator/test_data/ucb_run/
ns3-sat-sim/simulator/test_data/ucb_run_dynamic_verify/
ns3-sat-sim/simulator/test_data/end_to_end/
ns3-sat-sim/simulator/test_data/extract_test_data.sh
.lark_persistent/
飞书cli.txt
paper/ns3_experiments_ucb_iridium_66_6/traffic_matrix_poisson/data/
paper/ns3_experiments_ucb_iridium_66_6/traffic_matrix_poisson/pdf/
paper/ns3_experiments_ucb_iridium_66_6/traffic_matrix_poisson/修改了奖励函数状态更新实际队列长度/
